<div class="nav nav-pills pull-left" ng-repeat="link in pageSet" style="padding-right: 5px;" >
  <li ng-class="{active:link.isActive}"><a ng-href="/authin/{{link.name | lowercase}}" target="_self" >{{link.name}}</a></li>
</div>
<div class="nav nav-pills pull-left" style="padding-right: 5px;">
  <li><a href="/api/clear/" target="_self">Log Out</a></li>
</div>
<br><hr>
<div id="content" class="clear">
  <div class="test_content" ng-if="dataList[0]">
    <h3>Click the links above to log in and view the latest tweets, instagrams, and youtube uploads you follow.</h3>
  </div>
  <div>
    <div class="page" ng-repeat="page in pageSet"> 

      <div ng-if="page.name == 'Instagram'">
        <div ng-class="page.position" >
          <div ng-repeat="article in instagramList" class="dataContainer">
            <igram igram="article"></igram>
          </div>
        </div>
      </div>

      <div ng-if="page.name == 'Twitter'">
        <div ng-class="page.position" >
          <div ng-repeat="tweet in twitterList" class="dataContainer">
            <tweet tweet="tweet"></tweet>
          </div>
        </div>
      </div>

      <div ng-if="page.name == 'Youtube'">
        <div ng-class="page.position" >
          <div  ng-repeat="article in youtubeList" class="dataContainer">
            <ytube ytube="article"></ytube>
          </div>
        </div>
      </div>

      <div ng-if="page.name == 'Main'">
        <div touch-slide-controller ng-class="page.position" >
          <div ng-repeat="article in dataList" class="dataContainer">
            <tweet ng-if="article.type=='twitter'" tweet="article"></tweet>
            <igram ng-if="article.type=='instagram'" igram="article"></igram>
            <ytube ng-if="article.type=='youtube'" ytube="article"></ytube>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>